<tr>
    <td>
        <label for="{{ id }}">
            {{ label }}
        </label>
    </td>
    <td>
        <input type="{{ type }}" id="{{ id }}" name="{{ id }}" class="FormInput" placeholder="&nbsp;" {% if required %} required {% endif %} />
    </td>
</tr>